* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
    min-width: 1100px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
    text-decoration-thickness: 1px;
}

ul, ol {
    list-style: none;
}

address {
    font-style: normal;
}

button {
    font-family: inherit;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    text-align: center;
    padding-left: 30px; 
}

.aligned-text_right {
    text-align: right;
}

.letter-spacing-extended {
    word-spacing: 10px;
}